@use "../abstracts/" as *;

input[type="radio"] + .radio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    width: 160px;
    padding: 4px 16px;

    cursor: pointer;
    border-radius: 32px;
    border: 2px solid $radio-border;

    font-weight: 700;
    color: $radio-text-color;

    transition: background-color 110ms;
}

input[type="radio"]:checked + .radio-button {
    padding: 6px 18px;

    cursor: default;
    background-color: $radio-checked-background;
    border: none;

    color: $radio-text-color;
}