@use "../abstracts/" as *;

.steps-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__step {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 1px 7.5px;

        border-radius: 20px;
        background-color: rgba($color: $brick-red, $alpha: 0.5);

        font-weight: 700;
        color: $wild-sand;

        transition: background-color 100ms;

        &--current {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 1px 7.5px;

            border-radius: 20px;
            background-color: $brick-red;

            font-weight: 700;
            color: $wild-sand;
        }
    }

    &__line {
        margin: 0;
        width: 100%;
        min-width: 32px;
    }
}
